@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Ubuntu:wght@300;700&display=swap');

/* Estlilização da seção do banner */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 80px ;
}    

.banner{


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 150px; 
    
}

.banner-itens{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}


.banner-img{
    
   display: flex;


}

.titulo{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    width: 488px;
    color: #FF4081;
}

.banner-itens .paragrafo{
    
width: 461px;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #555555;}




    /* Estlilização da seção dos cursos */

.cursos{
    background: #F7F7F7;
   
}

.cursos-container img{

    height: 261px;
    width: 462px;
}

.cursos-container{
    

    margin: 213px;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    flex-wrap: wrap;
    gap: 100px;  
    align-items: center; 
    padding-top: 80px;
    

    
    
}

.cards-cursos{
    display: flex;
    flex-direction: line;
    align-items: center;
    gap: 100px;
    
    
}

.subtitulo-cursos{
    
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: flex;
    color: #FF4081;
    font-size: 35px;
    line-height: 40px;
}

.cards-cursos .paragrafo{
 
    width: 501px;
    
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    
font-family: 'Ubuntu', sans-serif;
font-style: normal;
display: flex;
align-items: center;

color: #000000;
}

.card-texto{
gap: 25px;
display: flex;
flex-direction: column;

}

.cards-cursos:nth-child(2) {
    border-top: 4px solid #C4C4C4;
    border-bottom: 4px solid #C4C4C4;
    padding: 80px 0;
  }