/* background do modal */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; /* on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  }
  
  /* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 60%; 
  border-radius: 6px;
}
  
/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

#div-modal {
  display: flex;
  flex-direction: line;
  align-items: center;
  /* gap: 30px;  
  padding: 60px 0; */
}

img{
  /* width:auto;
  height:auto;
  max-width:100%;
  max-height:100%; */
}

.img-wrap{
    /* float:left;
  width:35%;
  margin-right:2%; */
}



.subtitulo-modal{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  
  color: #FF4081;
}  

.texto{
  display: flex;
  flex-direction: column;      
}
/* .texto p{
  margin-top:0;
} */

.btn-modal{
  padding: 6px 16px;
  text-decoration: none;
  color: #000000;
  background: #C4C4C4;
  border-radius: 36px;
}
